@{
    ViewBag.Title = "Home Page";
}

	<!-- MAIN SLIDER -->
<section id="main-slider" class="fixed-height">

  <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
  <div class="slide-title-outter-wrapper">

    <!-- MAIN SLIDER TITLE INNER WRAPPER -->
    <div class="slide-title-inner-wrapper">

      <!-- TITLE 1  -->
      <div class="slide-title align-bottom">

        <div class="container">
          <div class="row">
            <div class="col-md-offset-3 col-md-6">

              <div class="page-title">
                <h1 class="animation bounceInLeft">Morgan Leann</h1>

                <div class="heart-divider animation fadeIn">
                  <span class="white-line"></span>
                  <i class="de-icon-heart pink-heart"></i>
                  <i class="de-icon-heart white-heart"></i>
                  <span class="white-line"></span>
                </div>

                <p class="animation delay1 bounceInRight">
                  I love dick! 
                </p>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

  </div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->
  <!-- MAIN SLIDER IMAGES -->
  <div class="slides">
    <!-- SLIDE IMAGE -->
    <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(http://placehold.it/1920x1080);">
    </div>

    <div class="slide-overlay" style="opacity:0.2"></div>
  </div>	<!-- END of MAIN SLIDER IMAGES -->

</section><!-- ENF of MAIN SLIDER -->
<!--CONTENT SECTION-->
<section id="content">

  <!-- ICON -->
  <div class="icon-title">
    <div class="de-icon circle light large-size aligncenter">
      <i class="de-icon-quote-1"></i>
    </div>
  </div>

  <!-- CONTAINER -->
  <div class="container">

    <!-- SOCIAL NETWORK ICON-->
    <div class="row">
      <div class="col-md-12 text-center" style="padding-bottom:50px;">

        <a href="#">
          <div class="de-icon circle outline medium-size inline">
            <i class="de-icon-facebook"></i>
          </div>
        </a>

        <a href="#">
          <div class="de-icon circle outline medium-size inline">
            <i class="de-icon-gplus"></i>
          </div>
        </a>

        <a href="#">
          <div class="de-icon circle outline medium-size inline">
            <i class="de-icon-twitter"></i>
          </div>
        </a>

      </div>
    </div><!-- END of SOCIAL NETWORK ICON-->
    <!--TEXT SECTION-->
    <div class="row">
      <div class="col-md-offset-1 col-md-5">
          <p>
              <strong>I'm Morgan. </strong> I was getting ready for our two year anniversary date with the hope that aaron would FINALLY pop the question. Even though everything leading up to that day pointed to no, I still had hope. We get into the car and Aaron decides to tell me that tonight isn't the night. Needless to say I was heartbroken and sobbed for a solid 10 minutes. Finally composing myself we get to our first stop on the date, a park - in the rain. I will admit I was not the happiest walking in the rain in a dress in heals freezing cold, but it was all worth it when Aaron pulled me into the grass admitting he lied and asked me to be his wife. More sobbing happened, but this time it was the most happiest tears I've felt!
          </p>
      </div>
    </div><!--END of TEXT SECTION-->

  </div><!-- END of CONTAINER -->

</section> <!--END of CONTENT SECTION-->  