@{
    ViewBag.Title = "Aaron & Morgan";
    var isPenisMode = (ViewBag.PenisMode != null) ? ViewBag.PenisMode : false;
}

@section scripts {
  <script>
    $(function () {
    var isPenisMode = "@isPenisMode";
    console.log('isPenisMode: ' +isPenisMode);
    if (isPenisMode === 'True') {
      

        function replaceAll(str, find, replace) {
  return str.replace(new RegExp(find, 'g'), replace);
        }


        $('body').addClass('penis-mode');
        
        $('body p, h1, h2, h3, h4, h5, h6, strong').each(function (i) {
          $this = $(this);
          var txt = $this.text();
          var n = replaceAll(txt,'the','<span class="text-penis">PENIS</span>');
          $this.html(n);
					
				})	
       
       

      }
      
      });
  </script>
  }

<!-- MAIN SLIDER -->
<section id="main-slider" class="flexslider fullscreen">

  <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
  <div class="slide-title-outter-wrapper">

    <!-- MAIN SLIDER TITLE INNER WRAPPER -->
    <div class="slide-title-inner-wrapper">

      <!-- TITLE -->
      <div class="slide-title align-middle">

        <div class="container">
          <div class="row">
            <div class="col-md-offset-3 col-md-6 animation delay1 fadeInUp">

              <div id="save-the-date">
                <div id="save">Save</div>
                <div id="the-date">The Date</div>
                <div id="date">- 08<span class="pink-dot">.</span>18<span class="pink-dot">.</span>2017 -</div>
              </div>
              <div class="banner-text light medium" style="letter-spacing:3px">
                <h4>*** WE ARE GETTING MARRIED ***</h4>
              </div>
              <div class="heart-divider">
                <span class="white-line" style="width:10px"></span>
                <i class="de-icon-heart pink-heart"></i>
                <i class="de-icon-heart white-heart"></i>
                <span class="white-line" style="width:10px"></span>
              </div>


            </div>
          </div>
        </div>

      </div>

    </div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

  </div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->
  <!-- MAIN SLIDER IMAGES -->

  <ul class="slides">


    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(/assets/images/header-01@((isPenisMode)?"-penis":"").jpg);">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.2"> </div>

    </li>


    <li>
      <!-- SLIDE IMAGE -->
      <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(/assets/images/header-02.jpg);">
      </div>

      <!-- SLIDE OVERLAY -->
      <div class="slide-overlay" style="opacity:0.2"> </div>
    </li>

    @*<li>
      <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(http://placehold.it/1920x1080);">
      </div>
      <div class="slide-overlay" style="opacity:0.2"> </div>
    </li>*@



  </ul><!-- END of MAIN SLIDER IMAGES -->

</section><!-- ENF of MAIN SLIDER -->

<section id="content">
  <!--COUPLE SECTION-->
  <section id="couple">

    <div class="container">
      <div class="row">

        <!-- SECTION TITLE -->
        <div class="col-md-offset-1 col-md-10 text-center">

          <div class="section-title animation fadeInUp">
            <h1 class="text-uppercase">
              She said yes!
            </h1>

            <p class="blurb">
              Good thing she did, because I was shitting bricks.
            </p>

            <div class="heart-divider">
              <span class="grey-line"></span>
              <i class="de-icon-heart pink-heart"></i>
              <i class="de-icon-heart grey-heart"></i>
              <span class="grey-line"></span>
            </div>
          </div>
        </div>

        <!-- SECTION CONTENT -->
        <div class="col-md-offset-1 col-md-5">

          <!--PHOTO-ITEM-->
          <div class="photo-item animation fadeInLeft">

            <!--HIS-PHOTO-->
            <img src="/assets/images/his-01.jpg" alt="" class="hover-animation image-zoom-in">

            <!--PHOTO OVERLAY-->
            <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
            </div><!--END of PHOTO OVERLAY-->
            <!--PHOTO CAPTION-->
            <div class="layer wh95 border-photo-caption hover-animation fade-out">
              <div class="alignment">
                <div class="v-align center-bottom">

                  <div>
                    <div class="heart-divider">
                      <i class="de-icon-heart pink-heart"></i>
                      <i class="de-icon-heart white-heart"></i>
                    </div>
                    <div class="banner-text light small" style="letter-spacing:3px;">
                      <h4>*** THE GROOM ***</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div><!--END of PHOTO CAPTION-->
            <!--ICON LINK-->
            <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
              <div class="alignment">
                <div class="v-align center-middle">

                  <a href="//instagram.com/aaron_latimer" class="de-button outline medium">
                    Instagram
                  </a>

                </div>
              </div>
            </div><!--END of ICON LINK-->

          </div><!--END of PHOTO-ITEM-->

			<p class="couple-excerpt animation fadeInLeft">foxe
				<strong>I'm Aaron. </strong> June 9, 2017 was our two year dating anniversary. I picked Morgan up to go on a date. Little did she know that it was on this date that I would ask her to be my wife.  As any gentleman would, I set the expectations for the evening. I told her "It's not happening tonight. I'm not proposing". Almost instantly she broke into tears of sadness. Once we arrived at the destination I tried to take her on a romantic walk on the beach. Well, it was pouring rain and it was high tide and she happened to be wearing a dress and high heels. So that didn't work. We ventured into a grassy area where I told her I had lied and said I love you at least 30 times before I got on my knee and asked her to marry me. What a mess but what a story! 
			</p>

        </div>

        <div class="col-md-5">

          <!--PHOTO-ITEM-->
          <div class="photo-item animation fadeInRight">

            <!--HER-PHOTO-->
            <img src="/assets/images/her-01.jpg" alt="" class="hover-animation image-zoom-in">

            <!--PHOTO OVERLAY-->
            <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
            </div><!--END of PHOTO OVERLAY-->
            <!--PHOTO CAPTION-->
            <div class="layer wh95 border-photo-caption hover-animation fade-out">
              <div class="alignment">
                <div class="v-align center-bottom">

                  <div>

                    <div class="heart-divider">
                      <i class="de-icon-heart pink-heart"></i>
                      <i class="de-icon-heart white-heart"></i>
                    </div>
                    <div class="banner-text light small" style="letter-spacing:3px;">
                      <h4>*** THE BRIDE ***</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div><!--END of PHOTO CAPTION-->
            <!--ICON LINK-->
            <div class="layer wh95 hidden-link hover-animation delay1 fade-in">
              <div class="alignment">
                <div class="v-align center-middle">

                  <a href="//instagram.com/morganleanndepaoli/" class="de-button outline medium">
                    Instagram
                  </a>

                </div>
              </div>
            </div><!--END of ICON LINK-->

          </div><!--END of PHOTO-ITEM-->

          <p class="couple-excerpt animation fadeInRight">
            <strong>I'm Morgan. </strong> I was getting ready for our two year anniversary date with the hope that aaron would FINALLY pop the question. Even though everything leading up to that day pointed to no, I still had hope. We get into the car and Aaron decides to tell me that tonight isn't the night. Needless to say I was heartbroken and sobbed for a solid 10 minutes. Finally composing myself we get to our first stop on the date, a park - in the rain. I will admit I was not the happiest walking in the rain in a dress in heals freezing cold, but it was all worth it when Aaron pulled me into the grass admitting he lied and asked me to be his wife. More sobbing happened, but this time it was the most happiest tears I've felt!
		  </p>

        </div>
      </div>
    </div>
  </section>


  <!-- LOCATION & COUNTDOWN SECTION -->
  <section id="location-countdown">
    <div class="image-divider auto-height" style="background-image:url(/assets/images/parralax03.jpg);" data-stellar-background-ratio="0.5">

      <div class="divider-overlay"></div>

      <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax
      <div class="alignment">
        <div class="v-align center-middle"> -->

      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 text-center">

            <div class="banner-text light medium animation fadeInUp" style="letter-spacing:3px;">
              <h4>*** At the Depaoli Residence, Bonney Lake ***</h4>
            </div>

            <div class="animation fadeInUp">
              <div id="counting-down">
                <div id="counting">Counting</div>
                <div id="down">Down</div>
              </div>
            </div>

            <div class="heart-divider animation fadeInUp">
              <span class="white-line"></span>
              <i class="de-icon-heart pink-heart"></i>
              <i class="de-icon-heart white-heart"></i>
              <span class="white-line"></span>
            </div>

            <div id="countdown" class="simple-countdown animation fadeInUp"></div>

          </div>
        </div>
      </div>

      <!--</div>
      </div>-->

    </div>
  </section>


  <!-- THE WEDDING SECTION -->
  <section id="the-wedding">

    <div class="container">

      <!-- ROW-1 -->
      <div class="row">

        <!-- SECTION TITLE -->
        <div class="col-md-12 text-center">

          <div class="section-title animation fadeInUp">
            <h2>
              THE WEDDING
            </h2>

            <p class="blurb">
              Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing
            </p>

            <div class="heart-divider">
              <span class="grey-line"></span>
              <i class="de-icon-heart pink-heart"></i>
              <i class="de-icon-heart grey-heart"></i>
              <span class="grey-line"></span>
            </div>
          </div>
        </div>
      </div> <!-- END of ROW-1 -->
      <!-- ROW-2 -->
      <div class="row">

        <div class="col-md-offset-1 col-md-10">

          <div class="container-fluid">
            <div class="row">

              <!-- ITEM-1 -->
              <div class="wedding-item col-md-6 animation fadeIn">

                <!--PHOTO-ITEM-->
                <div class="photo-item">

                  <!--PHOTO-->
                  <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-in">

                  <!--PHOTO OVERLAY-->
                  <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                  </div><!--END of PHOTO OVERLAY-->

                  <div class="layer wh95 border-photo-caption fade-out">
                  </div><!--END of PHOTO CAPTION-->
                  <!--ICON LINK-->
                  <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                    <div class="alignment">
                      <div class="v-align center-middle">

                        <a href="location.html" class="de-button outline small">
                          GET DIRECTION
                        </a>

                      </div>
                    </div>
                  </div><!--END of ICON LINK-->

                </div><!--END of PHOTO-ITEM-->
                <!-- TITLE & EXCERPT -->
                <div class="title-excerpt">
                  <h3><a href="location.html">LOCATION</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non </p>
                </div>
                <!-- END of TITLE & EXCERPT -->

              </div><!-- END of ITEM-1 -->
              <!-- ITEM-2 -->
              <div class="wedding-item col-md-6 animation delay1 fadeIn">

                <!--PHOTO-ITEM-->
                <div class="photo-item">

                  <!--PHOTO-->
                  <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-in">

                  <!--PHOTO OVERLAY-->
                  <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                  </div><!--END of PHOTO OVERLAY-->

                  <div class="layer wh95 border-photo-caption fade-out">

                  </div><!--END of PHOTO CAPTION-->
                  <!--ICON LINK-->
                  <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                    <div class="alignment">
                      <div class="v-align center-middle">

                        <a href="gift.html" class="de-button outline small">
                          GIFT LIST
                        </a>

                      </div>
                    </div>
                  </div><!--END of ICON LINK-->

                </div><!--END of PHOTO-ITEM-->
                <!-- TITLE & EXCERPT -->
                <div class="title-excerpt">
                  <h3><a href="gift.html">GIFT REGISTRY</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non </p>
                </div>
                <!-- END of TITLE & EXCERPT -->

              </div><!-- END of ITEM-2 -->
              @*<!-- ITEM-3 -->
              <div class="wedding-item col-md-4 animation delay2 fadeIn">

                <!--PHOTO-ITEM-->
                <div class="photo-item">

                  <!--PHOTO-->
                  <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-in">

                  <!--PHOTO OVERLAY-->
                  <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                  </div><!--END of PHOTO OVERLAY-->

                  <div class="layer wh95 border-photo-caption fade-out">

                  </div><!--END of PHOTO CAPTION-->
                  <!--ICON LINK-->
                  <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                    <div class="alignment">
                      <div class="v-align center-middle">

                        <a href="accomodation.html" class="de-button outline small">
                          ACCOMODATION
                        </a>

                      </div>
                    </div>
                  </div><!--END of ICON LINK-->

                </div><!--END of PHOTO-ITEM-->
                <!-- TITLE & EXCERPT -->
                <div class="title-excerpt">
                  <h3><a href="accomodation.html">ACCOMODATION</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non </p>
                </div>
                <!-- END of TITLE & EXCERPT -->

              </div> <!-- END of ITEM-3 -->*@

            </div>


          </div>

        </div>
      </div><!-- END of ROW-2 -->

    </div><!-- END of CONTAINER -->

  </section>


  <!-- RSVP SECTION -->
  <section id="rsvp">

    <div class="container">
      <div class="row">

        <!-- SECTION TITLE -->
        <div class="col-md-12 text-center ">

          <div class="section-title animation fadeInUp">
            <div class="heart-divider">
              <i class="de-icon-heart pink-heart"></i>
              <i class="de-icon-heart grey-heart"></i>
            </div>

            <h2>
              ARE YOU ATTENDING?
            </h2>

            <p>
              Please reserve before June 19th, 2015. Lorem ipsum dolor sit amet, consectetur adipiscing
            </p>

            <a href="rsvp-1.html" class="de-button medium animation fadeInUp">
              RSVP
            </a>
          </div>

        </div>

      </div>
    </div>

  </section>

</section>