@{
    ViewBag.Title = "Home Page";
}
@section scripts {
  <script>
    $(function () {
      
      var w = $('#form-parent').width();
      var h = $('#sb-site').height();
      var iframe = $('#iframe-rsvp');
      iframe.css({'width':w+'px','min-height':h+'px'});



    });
  </script>
  }
	<!-- MAIN SLIDER -->
<section id="main-slider" class="fixed-height">

  <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
  <div class="slide-title-outter-wrapper">

    <!-- MAIN SLIDER TITLE INNER WRAPPER -->
    <div class="slide-title-inner-wrapper">

      <!-- TITLE 1  -->
      <div class="slide-title align-bottom">

        <div class="container">
          <div class="row">
            <div class="col-md-offset-2 col-md-8">

              <div class="page-title">
                <h1>RSVP - CUSTOM</h1>

                <div class="heart-divider">
                  <span class="white-line"></span>
                  <i class="de-icon-heart pink-heart"></i>
                  <i class="de-icon-heart white-heart"></i>
                  <span class="white-line"></span>
                </div>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id dignissim augue, a elementum libero. In fringilla lectus at justo accumsan varius. Nulla eu sem nec quam congue commodo nec a velit.
                </p>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->

  </div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->
  <!-- MAIN SLIDER IMAGES -->
  <div class="slides">
    <!-- SLIDE IMAGE -->
    <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(http://placehold.it/1920x1080); background-position:top;">
    </div>

    <div class="slide-overlay" style="opacity:0.2"> </div>
  </div>	<!-- END of MAIN SLIDER IMAGES -->

</section><!-- ENF of MAIN SLIDER -->
<!--CONTENT SECTION-->
<section id="content">

  <!-- ICON -->
  <div class="icon-title">
    <div class="de-icon circle light large-size aligncenter">
      <i class="de-icon-mail-2"></i>
    </div>
  </div>

  <!-- CONTAINER -->
  <div class="container">
    <div class="row">
      <div id="form-parent" class="col-md-offset-2 col-md-8">


        <iframe id="iframe-rsvp" src="https://docs.google.com/a/cc.church/forms/d/e/1FAIpQLSdyrz3rZ6MOL7LIe9_7_yM3vcDxZqkl5gA2_gZbBI_cWoq_vA/viewform?embedded=true" width="760" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

      </div>

    </div>
  </div><!-- END of CONTAINER -->

</section> <!--END of CONTENT SECTION-->       