<!-- SIDE NAVBAR -->

<nav class="sb-slidebar sb-right sb-style-push">

  <div id="side-navbar-header">

    <div id="logo-inner-wrapper">
      <!-- LOGO -->
      <div class="logo-wrapper">
        <!-- CSS LOGO -->
        <a href="index.html">
          <div class="css-logo rounded">
            <div class="css-logo-text">
              <strong>A</strong><i class="de-icon-heart-1"></i><strong>M</strong>
            </div>
          </div>
        </a>

        <!-- IMG LOGO
          <a href="index.html">
          <div class="img-logo">
            <img src="/assets/images/slide1.jpg">
          </div>
          </a>
          -->
      </div>
      <!-- END of LOGO -->
    </div>

    <div id="close-inner-wrapper">
      <a href="#" id="close-button"><i class="de-icon-cancel-2"></i></a>
    </div>

  </div>

  <ul id="side-nav-menu">
    <li>
      <a href="/">Home</a>
      
    </li>
    <li>
      <a href="/her">Her</a>
    </li>
    <li>
      <a href="/him">Him</a>
    </li>
    <li>
      <a href="/gallery">Gallery</a>
    </li>
    <li>
      <a href="#">The Wedding</a>
      <ul>
        <li><a href="/location">Location</a></li>
        @*<li>
          <a href="#">BRIDESMAID</a>
          <ul>
            <li><a href="bridesmaid-gallery.html">BRIDESMAID GALLERY</a></li>
            <li><a href="bridesmaid-parallax-image.html">BRIDESMAID - PARALLAX IMAGE</a></li>
          </ul>
        </li>
        <li>
          <a href="#">GROOMSMEN</a>
          <ul>
            <li><a href="groomsmen-gallery.html">GROOMSMEN GALLERY</a></li>
            <li><a href="groomsmen-parallax-image.html">GROOMSMEN - PARALLAX IMAGE</a></li>
          </ul>
        </li>*@
        <li><a href="/registry">Gift Registry</a></li>
      </ul>
    </li>

   
    <li>
      <a href="/rsvp">RSVP</a>
    </li>
    
  </ul>

</nav>

<!-- END of SIDE NAVBAR -->